body {
  background-image: url("../images/just-waves.png");
  background-repeat: repeat;
}

header {
  background: rgb(238, 215, 7);
  color: #ffffff;
  padding: 5px;
  margin-left: 80px;
  margin-right: 80px;
  text-align: center;
  font-size: 25px;
}

#quizContainer {
  background: rgb(238, 215, 7);
  color: #1604b6;
  padding: 5px;
  margin-top: 30px;
  margin-left: 120px;
  margin-right: 120px;
  line-height: 1.5;
}
